In [1]:
import numpy as np
import pandas as pd

In [10]:
dict_1 = {'a' : [1,2,np.nan]  , 'b':[4,np.nan,np.nan]  , 'c':  [7,8,9]}

In [11]:
missing_df = pd.DataFrame(dict_1)

In [12]:
missing_df

     a    b  c
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

- Drop missing values - 
- Replace / Fill missing values

In [8]:
# Dropping Missing values : 
missing_df.dropna()

     a    b  c
0  1.0  4.0  7

In [9]:
# Drop the columns instead: 
missing_df.dropna( axis = 1 )

   c
0  7
1  8
2  9

In [13]:
missing_df.dropna(thresh = 2  )

     a    b  c
0  1.0  4.0  7
1  2.0  NaN  8

In [14]:
# Drop the columns where threshold is 2 
missing_df.dropna(thresh = 2 , axis = 1  )

     a  c
0  1.0  7
1  2.0  8
2  NaN  9

In [15]:
# Filling / replacing the missing values : 

# Fill by a constant number:
missing_df.fillna(value = 999)

       a      b  c
0    1.0    4.0  7
1    2.0  999.0  8
2  999.0  999.0  9

In [17]:
# Fill the values by mean of any column: 

missing_df.fillna(value = missing_df['a'].mean())

     a    b  c
0  1.0  4.0  7
1  2.0  1.5  8
2  1.5  1.5  9

In [18]:
# check for missing values: 

missing_df.isnull()

       a      b      c
0  False  False  False
1  False   True  False
2   True   True  False