# Data Structures

In simple terms, It is the the collection or group of data in a particular structure.

In this lecture we will study the following: 

1. Lists 
2. Tuples 
3. Sets 
4. Dictionaries 

___


### 1. Lists

Lists are the most commonly used data structure. Think of a list as a sequence of data that is enclosed in square brackets and data are separated by a comma.

Lists are declared by just equating a variable to '[ ]' or list.

Let us begin by creating an empty list first.

In [33]:
empty_list1 = []
empty_list2 = list()

# Lets look at it's type: 

print(type(empty_list1) , type(empty_list2))

<class 'list'> <class 'list'>

In [34]:
# A simple list
list1 = [1,2,3]

In [35]:
# A nested list:
list2 = [1,2, ['Hello' , 'World'] , 8, 10 , 15]

**Indexing:**

Index refers to the position of the element in the list. In python, Indexing starts from **0**. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [8]:
print("The 0th element is" , list2[0] )
print("The 2nd element is" , list2[2] )

The 0th element is 1
The 2nd element is ['Hello', 'World']

In [ ]:
#Accessing the elements of the nested lists: 
list2[2][0]

Indexing from the last element- (the last element's position is said to be -1)

In [6]:
# What is the last element?

list2[-1]
list2[-2] #the second last element

2

**Slicing**

Indexing was only limited to accessing a single element, Slicing on the other hand is *accessing a sequence of data inside the list*.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list.

In [29]:
list2[2:]  # Shows all the elements after the index=2

[10, 'They got me inserted', 'They got me inserted', 15, 'I am adopted']

In slicing, the last element that you specify is not included in the result (is non-inclusive)

In [30]:
list2[ :2 ] # Shows the elements from the begining till 2-1:

[1, 8]

In [31]:
list2[2:4] # Shows 2nd and the 3rd (not the 4th position element)

[10, 'They got me inserted']

**Append:**

In [32]:
list2.append('I am adopted')

In [14]:
print(list2)

[1, 2, ['Hello', 'World'], 8, 10, 15, 'I am adopted']

**Delete / Remove:**

There are two methods to delete the elements in a list: 

i. Use 'remove'  
ii. Use 'del'

In [15]:
list2.remove(2) #Remove the element by the name

In [16]:
print(list2)

[1, ['Hello', 'World'], 8, 10, 15, 'I am adopted']

In [17]:
del(list2[1]) # uses the index

In [18]:
print(list2)

[1, 8, 10, 15, 'I am adopted']

**Insert**

The insert command enables you to insert an element at a given index. Let's see the example-

Syntax: list2.insert(index, 'to be inserted')

In [21]:
list2.insert(3 , 'They got me inserted')

In [20]:
print(list2)

[1, 8, 10, 'They got me inserted', 15, 'I am adopted']

**Combining two lists:**

In [1]:
lista = [2,1,4,3]
listb = ['a' , 'b' , 'c' , 'd']

In [2]:
#This creates a nested list:
listc = [lista , listb]
print(listc)

[[2, 1, 4, 3], ['a', 'b', 'c', 'd']]

In [5]:
# This merges the elements of two lists and creates one list:
listc = [lista + listb]
print(listc)

[[2, 1, 4, 3, 'a', 'b', 'c', 'd']]

### 2. Tuples 

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Tuples use parentheses, whereas lists use square brackets.

In [ ]:
tup1 = (1,2,3)
print(type(t1))

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [ ]:
tup2 = ()
tup3 = tuple()

In [ ]:
# Tuples can be declared directly too..
tup4 = 2,3

**Some methods for lists and tuples...**

In [2]:
# Replication ( and not multiplication) in case of lists:
print("Replication (Lists):" , 10 * [27])

# Replication in case of tuples:
print("Replication (tuples):" , 10 * (27,))

Replication (Lists): [27, 27, 27, 27, 27, 27, 27, 27, 27, 27]
Replication (tuples): 270

In [ ]:
Mapping one tuple to another

In [ ]:
(a,b,c)= ('alpha','beta','gamma')

### 3. Sets 
Sets are mainly used to **eliminate repeated numbers in a sequence/list**. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
set1 = set([1,2,2,3,4,5])

In [ ]:
print(set1)

In [ ]:
set1 = set()
print(type(set1))

**Add an item** to a set, using the add() method:

In [4]:
set1 = set([1,2,3])
set1.add(5)
print(set1)

{1, 2, 3, 5}

**Add one or more items** to a set, using the update() method:

In [2]:
set1.update([6,7])
print(set1)

{1, 2, 3, 5, 6, 7}


| Method / Command              | Description                                                   |
|-------------------------------|--------------------------------------------------------------------------------|
| difference()                  | Returns a set containing the difference between two or more sets               |
| intersection()                | Returns a set, that is the intersection of two other sets                      |
| isdisjoint()                  | Returns whether two sets have a intersection or not                            |
| issubset()                    | Returns whether another set contains this set or not                           |
| issuperset()                  | Returns whether this set contains another set or not                           |
| remove()                      | Removes the specified element                                                  |
| symmetric_difference()        | Returns a set with the symmetric differences of two sets                       |
| union()                       | Return a set containing the union of sets                                      |

Now, let's see some examples of these:

In [15]:
set1 = set([1,2,2,3,4,5,6,7])
set2 = set([1,2,3,4,5])

In [15]:
# Union and intersection
print("Set1 union Set2:", set1.union(set2))
print("Set1 intersection Set2:", set1.intersection(set2))               

#Difference
print("Set1 Difference Set2:", set1.difference(set2))                 
print("Set1 & Set2's symmetric difference:", set1.symmetric_difference(set2))       

#Others: 
print("Are set1 and set2 disjoint? :", set1.isdisjoint(set2))                 
print("Is set1 subset of set2?:", set1.issubset(set2))                   
print("Is set1 superset of set2", set1.issuperset(set2))

Set1 union Set2: {1, 2, 3, 4, 5}
Set1 intersection Set2: {1, 2, 3, 4, 5}
Set1 Difference Set2: set()
Set1 & Set2's symmetric difference: set()
Are set1 and set2 disjoint? : False
Is set1 subset of set2?: True
Is set1 superset of set2 True


### 4. Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

Let us define some empty dictionaries now:

In [ ]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

In [7]:
dict_1 = {'Seller':'Amazon' , 'Year':1994 , 'Revenue' : '12 B'  }

**Accessing Items**

In [8]:
dict_1['Seller']

'Amazon'

**Change Values**

In [9]:
dict_1['Seller'] = 'Google'

**Adding Items**

In [10]:
dict_1['Origin'] = 'US'

In dictionaries, you can access the `keys` and the `values` separately using `values()` or `keys()` commands.

In [11]:
# Accessing the values: 
for x in dict_1.values():
  print(x)

Google
1994
12 B
US

In [12]:
# Accessing the keys: 
for x in dict_1.keys():
  print(x)

Seller
Year
Revenue
Origin

___
Congratulations!